/*
#484aa3
#5052b5


#task1-btn -> #task1 (+.long + color)
.light for .content
*/

.long{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    color:black;
    width: 100%;
    display: none;
}
#task1{
    background-color: white;
}
.light{
    background-color: #484aa3;
}