/*
#484aa3
#5052b5


#task1-btn -> #task1 (+.long + color)
.light for .content
*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    color: #2d2d2d;
}


body{
    font-family: 'Roboto', sans-serif;
}

#sidebar {
    background: linear-gradient(to left top, #F48024, #d66c22);
}

.wrapper.style1, wrapper.style1-alt, wrapper.light, wrapper.wrapper, wrapper.long {
    background-color: #FFF;
}

.wrapper.style2 {
    padding: 20px !important;
}

.long {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 10%;
    padding-right: 10%;
    color: black;
    width: 100%;
    display: none;
}

#task1 {
    background-color: white;
}

.light .content {
    padding: 2em;
    background-color: #fff;
}

.button {
    margin: 3em 0 0 0;
    border-color: #f48024 !important;
    color: #2d2d2d !important;
}

.button:hover, .button:active {
    color: #FFF !important;
    background:  linear-gradient(to left top, #F48024, #d66c22) !important;
}

.image{
    background-size: contain !important;
}